@media screen and (min-width: 1280px) {
  .top-container-header {
    margin: 0;
    width: 75%; } }
@media screen and (min-width: 880px) and (max-width: 1279px) {
  .top-container-header {
    margin: 0 auto;
    width: 80%; } }
@media screen and (max-width: 879px) {
  .top-container-header {
    width: 100%;
    padding: 0 1rem; }

  .top-menu_left ul li:nth-child(n+3) {
    display: none; }

  .top-menu_right {
    display: none; } }
.top-container-header {
  display: flex;
  font-size: 0.84rem; }
  .top-container-header ul {
    margin: 0;
    padding-left: 0; }

.top-menu {
  padding: 0;
  list-style: none; }

.top-menu_left {
  width: 60%; }
  .top-menu_left li {
    display: inline-block;
    margin-right: 0.2rem; }

.top-menu_right {
  width: 40%;
  margin-top: 10px;
  margin-left: auto;
  text-align: right; }
  .top-menu_right li {
    display: inline-block;
    margin-left: 0.2rem; }

.top-button {
  max-width: 100%;
  color: white;
  padding: 0 10%; }

.top-button:hover {
  border-color: white; }

.top-button img {
  transform: translateY(-40%);
  margin-right: 5px; }

.top-menu__logo {
  transform: translateY(35%); }

.top-menu__button {
  border: none;
  color: white;
  max-width: 100%;
  padding: 10px;
  background-color: #44b574; }

.top-menu__button:hover {
  background-color: #50db88; }

.top-menu__button img {
  padding-right: 7px;
  transform: translateY(20%); }

@media screen and (min-width: 620px) {
  .footer-links {
    display: flex;
    justify-content: center; }

  .column {
    width: 20%;
    margin-right: 5%; } }
@media screen and (max-width: 619px) {
  .column {
    text-align: center;
    width: 170px;
    margin: 0 auto; }
    .column-list {
      padding: 0; } }
.column-list {
  list-style-type: none;
  font-size: 13px; }

.column-list__title {
  font-size: 16px; }

.column-list-entry {
  margin: 20px 0; }

.column-list-entry__text {
  color: black; }

.column-list-entry__text:hover {
  color: #30ae63; }

.column-list-entry__address {
  font-size: 11px; }

@media screen and (min-width: 880px) {
  .heading-results {
    display: flex; }
    .heading-results-sort {
      width: 30%; }
  .heading-link_mobile {
    display: none; } }
@media screen and (min-width: 620px) and (max-width: 879px) {
  .heading {
    padding: 0 1rem; }
    .heading-results {
      display: flex; }
      .heading-results-sort {
        width: 30%; }
    .heading-link_mobile {
      display: none; } }
@media screen and (max-width: 619px) {
  .heading {
    padding: 0 1rem; }
    .heading h2 {
      font-size: 16px; }
    .heading-link {
      display: none; }
    .heading-results-sort {
      width: 65%; } }
.heading {
  margin: 30px 0 10px; }
  .heading h2 {
    font-weight: normal; }
  .heading-results {
    color: #8c9ba5; }
    .heading-results__amount {
      width: 70%;
      line-height: 40px; }
    .heading-results-sort {
      display: flex; }
      .heading-results-sort__by {
        height: 40px;
        color: #8c9ba5;
        font-size: 14px;
        border: none;
        background-color: inherit; }
        .heading-results-sort__by_price {
          width: 55%; }
        .heading-results-sort__by_currency {
          width: 45%;
          margin-left: 5px; }

.slash {
  color: blue;
  margin: 0 5px; }

@media screen and (min-width: 620px) {
  .listing {
    display: -webkit-inline-flex;
    justify-content: flex-start; }
    .listing__image {
      height: 170px;
      width: 242px; }
    .listing-info {
      margin: 0 1rem; } }
@media screen and (max-width: 619px) {
  .listing__image {
    width: inherit;
    height: 180px;
    margin-bottom: 1rem; }

  .listing-pricing__usd__rate {
    display: none; } }
.listing {
  background-color: white;
  width: 100%;
  padding: 15px 20px 0; }
  .listing__link {
    color: blue; }
    .listing__link:hover {
      color: #8c9ba5; }
  .listing__image {
    background-size: contain; }
    .listing__image_first {
      background: url(../img/listing1.png) no-repeat center center; }
    .listing__image_second {
      background: url(../img/listing2.png) no-repeat center center; }
    .listing__image_third {
      background: url(../img/listing3.png) no-repeat center center; }
  .listing-info {
    font-size: 13px; }
    .listing-info a {
      font-size: 16px; }
    .listing-info-location {
      display: flex;
      margin-top: 10px; }
  .listing-features {
    margin-top: 20px; }
    .listing-features__title {
      color: #8c9ba5;
      font-size: 12px; }
    .listing-features__details {
      display: flex;
      color: #4a4a4a;
      margin: 10px 0 20px;
      font-size: 12px; }
    .listing-features__text {
      max-width: 400px; }
  .listing-pricing {
    width: 145px;
    margin-left: auto; }
    .listing-pricing__next {
      font-size: 12px;
      text-align: right;
      margin-top: 140px;
      line-height: 0.8; }
      .listing-pricing__next_link {
        color: #979797; }
        .listing-pricing__next_link:hover {
          color: #30ae63; }
    .listing-pricing__uah {
      font-size: 18px;
      margin: 0;
      text-align: right; }
    .listing-pricing__usd {
      font-size: 14px;
      display: flex; }
      .listing-pricing__usd label {
        color: #9b9b9b;
        text-align: right;
        line-height: 31px;
        margin-right: 15px;
        width: 80%; }
      .listing-pricing__usd__rate {
        width: 100%;
        padding: 5px;
        color: #9b9b9b;
        border-bottom: 2px solid #9b9b9b; }
      .listing-pricing__usd__rate:hover {
        color: #30ae63;
        border-bottom: 2px solid #30ae63; }
    .listing-pricing-connect {
      height: 32px;
      display: flex;
      text-align: center;
      float: right; }
      .listing-pricing-connect img {
        transform: translateY(40%); }
      .listing-pricing-connect__call {
        border: 2px solid #30ae63;
        border-radius: 3px;
        padding: 0 26px; }
        .listing-pricing-connect__call:hover {
          border: 2px solid #8c9ba5; }
      .listing-pricing-connect__text {
        border: 2px solid blue;
        border-radius: 3px;
        padding: 0 26px;
        margin-left: 2px; }
        .listing-pricing-connect__text:hover {
          border: 2px solid #8c9ba5; }
    .listing-pricing__label {
      float: right;
      font-size: 0.9em;
      margin: 20px 0;
      height: 36px;
      line-height: 36px; }
      .listing-pricing__label img {
        transform: translateY(20%);
        margin-left: 0.7em; }
      .listing-pricing__label_red {
        background-color: #ffefea;
        color: #d00202;
        border-radius: 3px;
        padding: 0 0.94em;
        width: inherit; }
      .listing-pricing__label_green {
        background-color: #eafff5;
        color: #30ae63;
        border-radius: 3px;
        padding: 0 0.9em;
        width: inherit; }
  .listing-dots {
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 30px; }
    .listing-dots__item {
      border-radius: 50%;
      background-color: #d8d8d8;
      margin: 0 3px;
      height: 10px;
      width: 10px; }
    .listing-dots__item:hover {
      background-color: #979797; }

body {
  font: 14px "Open Sans", sans-serif;
  background-color: rgba(90, 104, 114, 0.08);
  margin: 0; }

* {
  box-sizing: border-box; }

@media screen and (min-width: 1280px) {
  .wrapper {
    margin-left: 2rem;
    width: 75%; }

  header {
    padding-left: 2rem; } }
@media screen and (min-width: 880px) and (max-width: 1279px) {
  .wrapper {
    margin: 0 auto;
    width: 80%; } }
@media screen and (min-width: 620px) and (max-width: 879px) {
  .wrapper {
    width: 100%; } }
@media screen and (max-width: 619px) {
  .wrapper {
    width: 100%; } }
header {
  background-color: #30ae63;
  color: white;
  padding-bottom: 10px; }

.centering-block, .listing-dots {
  display: flex;
  justify-content: center; }

.button {
  min-height: 40px;
  text-align: center;
  border-radius: 2px; }

.button_green {
  padding: 10px 0;
  background-color: #30ae63;
  color: white; }

.button_green:hover {
  background-color: #50db88; }

.underlined-button, .top-button {
  padding: 10px;
  border-bottom: 3px solid transparent; }

.text_non-decorated, .column-list-entry__text {
  text-decoration: none; }

.title_centering {
  max-width: 600px;
  text-align: center; }

.divider {
  border-radius: 50%;
  background-color: #8c9ba5;
  width: 3px;
  height: 3px;
  margin: 7px 7px 0; }

.logo {
  width: 100%;
  text-align: center;
  margin: 20px 0 50px 0; }

.subway-identifier {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px; }
  .subway-identifier_green {
    background-color: green; }
  .subway-identifier_red {
    background-color: red; }
  .subway-identifier_blue {
    background-color: blue; }
  .subway-identifier__distance {
    color: #9b9b9b;
    margin-left: 20px; }

/*# sourceMappingURL=map-styles.css.map */
