.top-container-header {
  width: 100%; }

.top-button {
  color: white;
  padding: 0 10%; }

.top-button:hover {
  border-color: white; }

.top-button img {
  transform: translateY(-40%);
  margin-right: 5px; }

.top-menu {
  padding: 0;
  margin: 0;
  list-style: none; }

.top-menu li {
  display: inline-block;
  margin-right: 2%; }

.top-menu_left {
  width: 60%; }

.top-menu_right {
  width: 40%;
  text-align: right;
  padding-top: 10px; }

.top-menu__logo {
  transform: translateY(35%); }

.top-menu__button {
  border: none;
  color: white;
  max-width: 100%;
  padding: 10px;
  background-color: #44b574; }

.top-menu__button:hover {
  background-color: #8c9ba5; }

.top-menu__button img {
  padding-right: 7px;
  transform: translateY(20%); }

.column {
  width: 20%;
  margin-right: 5%;
  margin-top: 40px; }

.column-list {
  list-style-type: none;
  font-size: 13px; }

.column-list__title {
  font-size: 16px; }

.column-list-entry {
  margin: 20px 0; }

.column-list-entry__text {
  color: black; }

.column-list-entry__text:hover {
  color: #30ae63; }

.column-list-entry__address {
  font-size: 11px; }

.heading {
  padding: 30px 0 10px; }
  .heading h2 {
    font-weight: normal; }
  .heading-results {
    display: flex;
    color: #8c9ba5; }
    .heading-results__amount {
      width: 70%;
      line-height: 40px; }
    .heading-results-sort {
      display: flex;
      width: 30%; }
      .heading-results-sort__by {
        height: 40px;
        color: #8c9ba5;
        font-size: 14px;
        border: none;
        background-color: inherit; }
        .heading-results-sort__by_price {
          width: 55%; }
        .heading-results-sort__by_currency {
          width: 45%;
          margin-left: 5px; }

.slash {
  color: blue;
  margin: 0 5px; }

body {
  font: 14px "Open Sans", sans-serif;
  background-color: rgba(90, 104, 114, 0.08);
  margin: 0; }

* {
  box-sizing: border-box; }

.listing {
  display: flex;
  background-color: white;
  padding: 15px 20px; }
  .listing-image {
    width: 24%; }
    .listing-image img {
      max-width: 100%;
      height: auto; }
  .listing-pricing {
    width: 21%; }
    .listing-pricing__uah {
      font-size: 18px;
      margin: 0;
      text-align: right; }
    .listing-pricing__usd {
      font-size: 14px;
      display: flex; }
      .listing-pricing__usd label {
        color: #9b9b9b;
        text-align: right;
        line-height: 31px;
        margin-right: 15px;
        width: 80%; }
      .listing-pricing__usd__rate {
        width: 100%;
        padding: 5px;
        color: #9b9b9b;
        border-bottom: 2px solid #9b9b9b; }
      .listing-pricing__usd__rate:hover {
        color: #30ae63;
        border-bottom: 2px solid #30ae63; }
  .listing-info {
    width: 55%;
    padding-left: 10px;
    padding-right: 100px;
    font-size: 13px; }
    .listing-info a {
      font-size: 16px; }
    .listing-info-location {
      display: flex;
      margin-top: 10px; }
    .listing-info-dots {
      width: 100%;
      margin: 20px 0; }
      .listing-info-dots__item {
        border-radius: 50%;
        background-color: #d8d8d8;
        margin: 0 6px;
        height: 10px;
        width: 10px; }
      .listing-info-dots__item:hover {
        background-color: #979797; }
    .listing-info-features {
      margin-top: 20px; }
      .listing-info-features__title {
        color: #8c9ba5;
        font-size: 12px; }
      .listing-info-features__square {
        display: flex;
        color: #4a4a4a;
        margin: 10px 0 20px;
        font-size: 12px; }

.subway-identifier {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px; }
  .subway-identifier_green {
    background-color: green; }
  .subway-identifier_red {
    background-color: red; }
  .subway-identifier_blue {
    background-color: blue; }
  .subway-identifier__distance {
    color: #9b9b9b;
    margin-left: 20px; }

header {
  width: 100%;
  background-color: #30ae63;
  color: white;
  padding: 0 10% 10px; }

.content {
  width: 80%;
  margin: 0 auto; }

.centering-block, .top-container-header, .listing-info-dots {
  display: flex;
  justify-content: center; }

.button {
  min-height: 40px;
  text-align: center;
  border-radius: 2px; }

.button_green {
  padding: 10px 0;
  background-color: #30ae63;
  color: white; }

.button_green:hover {
  background-color: #8c9ba5; }

.link_hover:hover {
  color: #8c9ba5; }

.underlined-button, .top-button {
  padding: 10px;
  border-bottom: 3px solid transparent; }

.text_non-decorated, .column-list-entry__text {
  text-decoration: none; }

.title_centering {
  max-width: 600px;
  text-align: center; }

.divider {
  border-radius: 50%;
  background-color: #8c9ba5;
  width: 3px;
  height: 3px;
  margin: 7px 7px 0; }

.logo {
  width: 100%;
  text-align: center;
  margin: 20px 0 50px 0; }

/*# sourceMappingURL=map-styles.css.map */
